<div class="background">
  <h1 style="color: white; text-align: center; margin-bottom: 20px;">Development Skills</h1>
  <div class="card-body"
    style="background-color: white; border-radius: 10px; text-align: center; margin-bottom: 20px; padding: 10px;">
    <h5 class="card-title">Area of Expertise</h5>
    <hr>
    <ul style="text-align: left;">
      <li>Web Development</li>
      <li>SQL</li>
      <li>NoSQL</li>
    </ul>
  </div>
  <div class="card-body"
    style="background-color: white; border-radius: 10px; text-align: center; margin-bottom: 20px; padding: 10px;">
    <h5 class="card-title">Fields of interest</h5>
    <hr>
    <ul style="text-align: left;">
      <li>Frontend</li>
      <li>Backend</li>
      <li>DevOps</li>
    </ul>
  </div>
  <div class="card-body"
    style="background-color: white; border-radius: 10px; text-align: center; margin-bottom: 20px; padding: 10px;">
    <h5 class="card-title"> Experience with</h5>
    <hr>
    <ul style="text-align: left;">
      <li>Angular</li>
      <li>React</li>
      <li>Java Script</li>
      <li>Type Script</li>
      <li>Css</li>
      <li>Html</li>
      <li>php</li>
      <li>Slim</li>
      <li>Nodejs</li>
      <li>Express</li>
      <li>Java</li>
      <li>MySQL</li>
      <li>FireBase</li>
      <li>MongoDB</li>
    </ul>
  </div>
  <div class="card-body"
    style="background-color: white; border-radius: 10px; text-align: center; margin-bottom: 20px; padding: 10px;">
    <h5 class="card-title">Strengthening the experience in</h5>
    <hr>
    <ul style="text-align: left;">
      <li>Docker</li>
      <li>Kubernetes</li>
      <li>Jenkins</li>
      <li>Slack</li>
      <li>Sonarqube</li>
      <li>AWS</li>
      <li>Azure</li>
      <li>Terraform</li>
    </ul>
  </div>
  <div class="card-body"
    style="background-color: white; border-radius: 10px; text-align: center; margin-bottom: 20px; padding: 10px;">
    <h5 class="card-title">Software</h5>
    <hr>
    <ul style="text-align: left;">
      <li>GitHub</li>
      <li>Adobe Photoshop</li>
      <li>Adobe Illustrator</li>
      <li>Corel Draw</li>
    </ul>
  </div>
</div>