<main class="background">
  <article>
    <h1 style="color: white; text-align: center; margin-bottom: 20px;">PROFESSIONAL SUMMARY</h1>
    <p style="text-align: justify; color: white; font-size: 1.5rem;">I am a bilingual Software Developer (B2) with emphasis in Web Development as a Full Stack Developer and Graphic Designer. I have experience as Front End and Back End Developer in technology, telecommunications and health projects. I have knowledge in programming environments and languages such as: Angular, React, Java Script, Java, Php, Type Script, Html, Css, Bootstrap, Tailwind, Laravel, Spring Boot, Node Js, Git, Github, MySQL and Web Development. I have developed skills of : teamwork, emotional intelligence, assertive communication, leadership, working under pressure, frustration management and achievement orientation.
    </p>
  </article>
  
  <article>
    <h1 style="color: white; text-align: center; margin-bottom: 20px;">PROFICIENCIES</h1>
    <p style="text-align: justify; color: white;"><i class="fa-solid fa-circle-check" style="color: rgb(10, 180, 10);"></i> Front-end knowledge in ( Angular, React, Bootstrap, Tailwind, Html, Css and more ).</p><br>
    <p style="text-align: justify; color: white;"><i class="fa-solid fa-circle-check" style="color: rgb(10, 180, 10);"></i> Back-end knowledge in ( Java, Java Script, Type Script, PHP, Laravel, Spring Boot, NodeJS ).</p><br>
    <p style="text-align: justify; color: white;"><i class="fa-solid fa-circle-check" style="color: rgb(10, 180, 10);"></i> Data bases knowledge with ( mysql ).</p><br>
    <p style="text-align: justify; color: white;"><i class="fa-solid fa-circle-check" style="color: rgb(10, 180, 10);"></i> DevOps strengthening( Docker, Jenkins ). </p><br>
    <p style="text-align: justify; color: white;"><i class="fa-solid fa-circle-check" style="color: rgb(10, 180, 10);"></i> Deploy applications in Hostings like Netlify whit CI using github. Also, Hostgator  whit personal domain and emails.</p><br>
    <p style="text-align: justify; color: white;"><i class="fa-solid fa-circle-check" style="color: rgb(10, 180, 10);"></i> Use of versioning technologies like Git and GitHub.</p><br>
    <p style="text-align: justify; color: white;"><i class="fa-solid fa-circle-check" style="color: rgb(10, 180, 10);"></i> Experience working with Agile Methodologies( Jira/Scrum ).</p><br>
    <p style="text-align: justify; color: white;"><i class="fa-solid fa-circle-check" style="color: rgb(10, 180, 10);"></i> Experience with graphic software( Photoshop, Illustrator, Corel Draw, In Design ).</p><br>
  </article> 
</main>