<div class="background">
  <h1 style="color: white; text-align: center; margin-bottom: 20px;">Development Skills</h1>
  <div class="card-body" style="background-color: white; border-radius: 10px; text-align: center; margin-bottom: 20px; padding: 10px;">
    <h5 class="card-title">Area of Expertise</h5>
    <hr>
    <ul style="text-align: left;">
        <li>Web Development</li>
        <li>Java</li>
        <li>Java Script</li>
        <li>SQL</li>
        <li>NoSQL</li>
    </ul>
  </div> 
  <div class="card-body" style="background-color: white; border-radius: 10px; text-align: center; margin-bottom: 20px; padding: 10px;">
    <h5 class="card-title">Fields of interest</h5>
    <hr>
    <ul style="text-align: left;">
        <li>Web Development</li>        
    </ul>
  </div> 
  <div class="card-body" style="background-color: white; border-radius: 10px; text-align: center; margin-bottom: 20px; padding: 10px;">
    <h5 class="card-title"> Experience with</h5>
    <hr>
    <ul style="text-align: left;">
        <li>Java</li>
        <li>Java Script</li>
        <li>Nodejs</li>
        <li>React</li>
        <li>Angular</li>
        <li>Html</li>
        <li>Css</li>
        <li>MySQL</li>
        <li>Firebase</li>
    </ul>
  </div> 
  <div class="card-body" style="background-color: white; border-radius: 10px; text-align: center; margin-bottom: 20px; padding: 10px;">
    <h5 class="card-title">Software</h5>
    <hr>
    <ul style="text-align: left;">
        <li>Jira</li>
        <li>GitHub</li>
    </ul>
  </div> 
</div>
