.background{
    background-color: white;
    // background-image: none;
    font-family: Montserrat-Bold;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
    font-size: 1rem; 
    
}

@media (min-width: 1200px){
    .background{      
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10%;
        font-size: 30px;        
    }
    .background h5{ 
        font-size: 40px;        
    }
    .background img{      
       max-width: 600px;     
    }
    p{
        text-align: center;
        width: 100%;
    }
}