<div class="background">
    <h5>WORK EXPERIENCE</h5>
    <p>
        Full Stack Web Developer <br>
        Tigo Une <br>
        Medellin/Colombia <br>
        October 2022 - April 2023
    </p>
    <ul>
        <li>Desarrolle eficazmente proyectos para la migracion y automatizacion de aplicaciones y procesos internos, promoviendo la agilizacion de servicios y la actualizacion del software usado para tener un ambiente de calidad.</li>
        <li>ofreci el continuo soporte a las aplicaciones, que fue crucial para la mejora y el exito de la empresa.</li>
    </ul>

    <h5>FREELANCE WORK</h5>
    <p>
        Full Stack Web Developer <br>
        Medellin/Colombia <br>
        June 2022 - December 2022
    </p>
    <ul>
        <li>Diseñe e implemente paginas web, promoviendo una imagen corporativa de calidad.</li>
        <li>Ofrecí una atención óptima y asesoria oportuna a los dueños de las empresas y emprendimientos.</li>
        <li>Implementé hostings para la visualizacion de los proyectos, generando un mejor alcance para las aplicaciones</li>
    </ul>
</div>
