<div class="background">
    <h5>WORK EXPERIENCE</h5>
    <div class="experienceBody">
        <div>            
            <p>
                Full Stack Web Developer <br>
                Tigo Une <br>
                Medellin/Colombia <br>
                October 2022 - April 2023
            </p>
        </div>
        <ul>
            <li>Effectively develop projects for the migration and automation of applications and internal processes, promoting the streamlining of services and the updating of the software used to have a quality environment.</li>
            <li>provided ongoing application support, which was crucial to the improvement and success of the company.</li>
        </ul>
    </div>
    <h5>FREELANCE WORK</h5>
    <div class="experienceBody">
        <div>            
            <p>
                Full Stack Web Developer <br>
                Medellin/Colombia <br>
                June 2022 - January 2023
            </p>
        </div>        
        <ul>
            <li>Design and implement web pages, promoting a quality corporate image.</li>
            <li>I provided optimal attention and timely advice to business owners and entrepreneurs.</li>
            <li>I implemented hostings for the visualization of the projects, generating a better reach for the applications.</li>
        </ul>
    </div>
</div>
