<div class="background">
  <h5 style="text-align: center">COURSES</h5>
  <div style="text-align: center">
    <img src="../../../assets/img/udemy.png" alt="" width="40%" height="30%">
    <p style="margin-top: 10px;">July 2021 React + Firebase</p>    
  </div>
  <div style="text-align: center">
    <img src="../../../assets/img/efset.png" alt="" width="40%" height="30%">
    <p style="margin-top: 10px;">July 2021 EF SET Certificate B2 English</p>    
  </div>
  <h5 style="text-align: center">PERSONAL PROJECTS</h5>
  <p style="text-align:justify;"> <a href="https://github.com/santiagoae/TicsBrothers" target="_blank">ticsbrothers.com</a> web development implementing react and firebase focused 
    on frontend used to attract people and sell them a virtual course. Currently is 
    used by his owners. </p>
</div>
