.background{
    padding: 10%;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../../../assets/img/f2.jpg');
    font-family: Montserrat-Bold;
    color: white;
    gap: 2rem;
}

.card{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%;
    background-color:unset;
    text-align: center;
    text-shadow: 1.5px 1.5px 1px black;
}
#tics{
    background-image: url(/assets/img/logoCompleto.png);
}
#orbit{
    background-image: url(/assets/img/logoOrbit.png);
}
#ten{
    background-image: url(/assets/img/logoTen.png);
}

@media (min-width: 700px){    
    
}

@media (min-width: 1200px){
    .background h5{
        margin-top: 50px;
        font-size: 50px;
    }
    .background p{
        font-size: 30px;
    }
}