<div class="background">
  <h5 style="text-align: center">COURSES</h5>
  <div style="text-align: center">
    <img src="/assets/img/udemy.png" alt="" width="40%" height="30%">
    <p style="margin-top: 10px; text-align: center;">July 2021. React + Firebase</p>    
  </div>
  <div style="text-align: center">
    <img src="/assets/img/efset.png" alt="" width="40%" height="30%">
    <p style="margin-top: 10px; text-align: center;">July 2021. EF SET Certificate B2 English</p>    
  </div>
  <div style="text-align: center">
    <img src="/assets/img/devops.JPG" alt="" width="40%" height="30%">
    <p style="margin-top: 10px; text-align: center;">March 2023-Currently. DevOps con Docker, Jenkins, Kubernetes, git, GitFlow, CI y CD </p>    
  </div>
  <h5 style="text-align: center">PERSONAL PROJECTS</h5>
  <div class="cards">
    <div class="card" id="tics">
      <div class="card-body">
        <h5 class="card-title">ticsbrothers.com</h5>
        <p class="card-text">web development implementing react and firebase focused 
          on frontend used to attract people and sell them a virtual course.</p>
        </div>
        <a href="https://ticsbrothers.com/" class="btn btn-primary" target="_blank">visit them</a>
    </div>
    <div class="card" id="orbit">
      <div class="card-body">
        <h5 class="card-title">laorbit360.com</h5>
        <p class="card-text">web development implementing Angular focused
          on frontend used for sell platforms video recorders in 360 and plans to rent these same.</p>
        </div>
        <a href="https://laorbit360.com/" class="btn btn-primary" target="_blank">visit them</a>
    </div>
    <div class="card" id="ten">
      <div class="card-body">
        <h5 class="card-title">tensaludoral.com</h5>
        <p class="card-text">web development implementing Angular,
          nodejs with express and vercel used to expand visibility of the company for customers that want know prices and the posibility of access to an appointment.</p>
        </div>
        <a href="https://tensaludoral.com/home" class="btn btn-primary" target="_blank">visit them</a>
    </div>
  </div>
  <h5 style="text-align: center">OTHER SKILLS</h5>
  <p style="text-align:justify;">
    knowledge about hosting like hostgator, vercel and netlify for deploy apps in different domains, 
    creating corporate emails and expand the visibility of the companies. 
  </p><br><br>
</div>
