<div class="myContainer" style="background-color: rgb(40, 54, 56);">
  <div>
    <h1>SANTIAGO AVENDAÑO ESCOBAR</h1>
    <h3 style="text-align: right;">COMPUTER ENGINEER <br> 
      09 Dic, 1994 <br> 
      Medellín,Colombia <br> 
      +573016013317 / santiagoavn@gmail.com <br>
      <a href="https://github.com/santiagoae" target="_blank" style="text-decoration: none; color: white;">https://github.com/santiagoae <i class="fa-solid fa-arrow-left click" style="margin-left: 15px;"></i></a> 
    </h3>
  </div> 
  <a href="#skills" class="arrows"><i class="fa-solid fa-angles-down"></i></a>   
  <!-- <video  autoPlay loop muted playsInline>
    <source src="../assets/video/video-tv.mp4" type="video/mp4">
  </video>  -->
  <!-- <span ><img src="https://media.giphy.com/media/l0HlGs7u3G9dkQ8DK/giphy.gif" alt="fondogif"></span> -->
  <span ><img src="https://media.giphy.com/media/doXBzUFJRxpaUbuaqz/giphy.gif" alt="fondogif"></span>
  <!-- <span ><img src="https://media.giphy.com/media/26tn66XDQtXadfWrS/giphy.gif" alt="fondogif"></span> -->
  <!-- <span ><img src="https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif" alt="fondogif"></span> -->
  <!-- <span ><img src="https://media.giphy.com/media/3oKIP88yJbdsVHhc1a/giphy.gif" alt="fondogif"></span> -->
  <!-- <span><img src="https://media.giphy.com/media/2g8EYDN0VWFMY/giphy.gif" alt="fondogif"></span> -->
</div>
<section id="skills">
  <div class="myContainer">
    <app-development-skills></app-development-skills>
  </div>  
</section>
<section id="coursesProjects">
  <div class="myContainer">
    <app-courses-personal-projects></app-courses-personal-projects>
  </div>  
</section>
<section id="experience">
  <div class="myContainer">
    <app-work-experience></app-work-experience>
  </div>
</section>
<section id="universityProjects">
  <div class="myContainer">
    <app-univesity-projects></app-univesity-projects>
  </div>  
</section>
<section id="others">
  <div class="myContainer">
    <app-studies-hobbies-languages></app-studies-hobbies-languages>
  </div>
</section>
<section id="references">
  <div class="myContainer">
    <app-references></app-references>
  </div>
</section>


