.myContainer{
    min-height: 100vh;
    position: relative;   
}
.myContainer div{    
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height:100vh;          
} 
.myContainer div h1{    
    font-size: 16px;   
    font-family: Montserrat-black; 
}
.myContainer div h3{
    margin: 0;
    font-size: 13px; 
    font-family: Montserrat-Regular; 
}
.arrows{
    position: absolute;
    z-index: 2;
    left: 50%;
    font-size: 50px;
    color: white;    
    bottom: 0;
    animation:bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.myContainer video{    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 700px){
    .myContainer div h1{    
        font-size: 28px; 
        
    }
    .myContainer div h3{        
        font-size: 20px;
        margin-left: 86px;        
    }
    .arrows{
        position: absolute;
        z-index: 2;
        left: 50%;
        font-size: 50px;
        color: white;    
        bottom: 0;
        animation:bounce;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

@media (min-width: 1200px){
    .myContainer div h1{    
        font-size: 50px; 
        
    }
    .myContainer div h3{        
        font-size: 30px;
        margin-left: 280px;        
    }
    .arrows{
        position: absolute;
        z-index: 2;
        left: 50%;
        font-size: 50px;
        color: white;    
        bottom: 0;
        animation:bounce;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

