<div class="myContainer">
  <div>
    <h1>SANTIAGO AVENDAÑO ESCOBAR</h1>
    <h3 style="text-align: right;">COMPUTER ENGINEER <br> 
      09 Dic, 1994 <br> 
      Medellín,Colombia <br> 
      +573016013317 / santiagoavn@gmail.com <br>
      <a href="https://github.com/santiagoae" target="_blank" style="text-decoration: none; color: white;">https://github.com/santiagoae</a> </h3>
  </div>
  <a href="#skills" class="arrows"><i class="fa-solid fa-angles-down"></i></a>   
  <video muted autoplay loop>
    <source src="../assets/video/video-tv.mp4" type="video/mp4">
  </video> 
</div>
<section id="skills">
  <div class="myContainer">
    <app-development-skills></app-development-skills>
  </div>  
</section>
<section id="universityProjects">
  <div class="myContainer">
    <app-univesity-projects></app-univesity-projects>
  </div>  
</section>
<section id="coursesProjects">
  <div class="myContainer">
    <app-courses-personal-projects></app-courses-personal-projects>
  </div>  
</section>
<section id="others">
  <div class="myContainer">
    <app-studies-hobbies-languages></app-studies-hobbies-languages>
  </div>
</section>
<section id="references">
  <div class="myContainer">
    <app-references></app-references>
  </div>
</section>


