<div class="background">
  <h5 style="text-align: center">STUDIES</h5>
  <div style="text-align: justify;">    
    <p>2016-2022 | Computer Engineer <br> Medellín, Colombia | Politécnico Colombiano Jaime Isaza Cadavid</p>
    <p>2012-2014 | Graphic Designer <br> Medellín, Colombia | Politécnico de Antioquia</p>
  </div>
  <h5 style="text-align: center">HOBBIES</h5>
  <div>
    <ul style="list-style-type: none; padding: 0;">
        <li >🏃 jogging</li>
        <li>🕵️ self learning</li>
        <li>🎶 listen to music</li>
        <li>🥅 soccer</li>
        <li>🏓 table tennis</li>
        <li>🛫​ to travel</li>
    </ul>   
  </div>
  <h5 style="text-align: center">LANGUAGES</h5>
  <div>
    <ul>
        <li >Spanish: Native</li>
        <li>English: Medium (B2-C1)</li>        
    </ul>   
  </div>
</div>
