<div class="background">
    <h1 style="text-align: center; margin-bottom: 60px;">REFERENCES</h1>
    <div>
        <div class="card-body"
            style="background-color: white; border-radius: 10px; text-align: center; margin-bottom: 20px; padding: 10px;">
            <h5 class="card-title">Job References</h5>
            <hr>
            <p>Carlos Mario Días Sánchez <br>
                operational service planning specialist - Tigo colombia <br>
                301 632 7053</p>
        </div>
        <div class="card-body"
            style="background-color: white; border-radius: 10px; text-align: center; margin-bottom: 20px; padding: 10px;">
            <h5 class="card-title">Personal References</h5>
            <hr>
            <div class="references">
                <div>
                    <p>Juan Jose Alzate Martinez <br>
                        ABAP Consultant - Holcim <br>
                        310 541 0405</p>
                </div>
                <div>
                    <p>
                        Verónica Gómez <br>
                        DevOps Consultant <br>
                        304 346 0783 <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="card-body"
        style="background-color: white; border-radius: 10px; text-align: center; margin-bottom: 20px; padding: 10px;">
        <h5 class="card-title"> References</h5>
        <hr>
        <p>Jennifer Alejandra Olaya Escobar <br>
            Bachelor's degree in child education - head teacher <br>
            312 266 5717</p>
    </div> -->
</div>