<div class="background">
    <h1 style="text-align: center; margin-bottom: 20px;">REFERENCES</h1>
    <div class="card-body" style="background-color: white; border-radius: 10px; text-align: center; margin-bottom: 20px; padding: 10px;">
      <h5 class="card-title">Personal References</h5>
      <hr>
      <p>Juan Jose Alzate Martinez <br>
        SAP-ABAP Consultant - IBM colombia <br>
        310 541 0405</p>
    </div>
    <div class="card-body" style="background-color: white; border-radius: 10px; text-align: center; margin-bottom: 20px; padding: 10px;">
        <h5 class="card-title">Family References</h5>
        <hr>
        <p>Jennifer Alejandra Olaya Escobar <br>
            Bachelor's degree in child education - head teacher <br>
            312 266 5717</p>
      </div>      
  </div>
