.background{
    padding: 10%;
    font-family: Montserrat-Bold;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1200px){
    .background{
        flex-direction: row;
        font-size: 30px;
    }
    .background h5{
        
        font-size: 40px;
    }
}