/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(./assets/fuente/Montserrat-Regular.ttf);
    font-weight: 100;
}
@font-face {
    font-family: 'Montserrat-Semibold';
    src: url(./assets/fuente/Montserrat-SemiBold.ttf);
    font-weight: 200;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(./assets/fuente/Montserrat-Bold.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Montserrat-Black';
    src: url(./assets/fuente/Montserrat-Black.ttf);
    font-weight: 400;
}

.background{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./assets/img/f1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}