<div class="background">    
    <img src="../../../assets/img/logoPoli.png" width="70%" height="30%" alt="logo poli">
    <div style="text-align: justify; padding: 20px;">
        <h5 style="font-family: Montserrat-Black; text-align: center;">UNIVERSITY PROJECTS</h5>
        <p>August 2021 to September 2021 Medellín-Colombia</p>
        <p>Politécnico Jaime Isaza Cadavid</p>
        <p>FrontEnd development ( Carpinteria WG )</p>
        <p>
            Build a Project in React using firebase for handle requests of users who needs make a petition 
            of a product to the company also create a login for users.
        </p>
    </div>
</div>
